.info {
    display: flex;
    margin: 10px 0;
    
}
.info-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 4px;
}
.info-name, .info-time, .comment-text {
    margin: 4px;
}
.info-name {
    cursor: pointer;
    font-size: 2rem;
    font-family: 800;
    &:hover {
        color: var(--blue);
    }
}
.icon-gender-male, .icon-gender-female {
    margin-left: 6px;
}
.icon-gender-male {
    color: var(--blue);
}
.icon-gender-female {
    color: var(--pink);
}

// comment 
.comment-text {
    word-wrap: break-word;
    max-width: 35vw;
}
.comment-layout {
   display: flex;
   align-items: center;
}
.comment-background {
    background: var(--carousel);
    border-radius: 10px;
   
    

}

// .options-comment {
 
 
   
// }
.options-icon {
    color: var(--carousel);
    font-size: 2rem;
    font-weight: 800;
}
//btn

.btn-deleteComment {
    color: var(--red);
    padding: 8px 24px;
    font-size: 2rem;
    border-radius: 4px;
    &:hover {
        color: var(--white--text);
       
        background: var(--red);
    }
}
