.layout {
    padding-top: 100px;
    background: var(--background--primary);
    padding-bottom: 40px;
}
.layout-form {
    padding-top: 10px;
    border-top:  1px solid var(--background--primary--lighter);
}