.layout {
    border: 2px solid var(--white--text);
    border-radius: 10px;
    margin-top: 20px;
}
.read-comment {
    text-align: center;
}
.comment-more {
    cursor: pointer;
    max-width: 45vw;
    min-width: 25vw; 
    margin: 10px 0;
}