.icon {
    background: var(--background--primary--lighter);
    padding: 8px;
    margin: 4px;
    font-size: 2rem;
}
.menuIcon {
    display: none;
}
.full-header {
    display: flex;
   
}
.header-logo {
    color: var(--black) !important;
}
@media only screen and (min-width: 320px) and (max-width: 420px){
    .menuIcon {
        display: block;
    }
    .menu-mobile {
        max-width: 80vw;
        min-width: 70vw;
    }
    .header-menu {
        display: none;
    }
}
@media only screen and (min-width: 590px) and (max-width: 2000px){
   
}