.layout-private {
    background: var(--background--primary);
    padding-top: 100px;
}
.post-form {
    padding: 10px 0;
    border-bottom: 1px solid var(--background--primary--lighter);
}
.title-private {
    
    text-align: center;
}
.title {
    color: var(--white--text) !important;
}